* {
    margin: 0;
}
body{
    animation: anim100 15s 1 forwards;
}
@keyframes anim100 {
    0%{
        background: black;
      
    }
    100%{
        background: black;
        background: url(imagenes/lluvia.gif);
        
    }
}
header{
    background-color: black;
    background-image : url(imagenes/fondo1.jpg)  ;
    background-size: contain;
 
}

.hola23{
    height: 400px;
    animation: anim1 4s 1 backwards  ;
    animation-timing-function: ease-in ;
    
    
}
@keyframes anim1 {
    0%{
        
        opacity: 0;
    }
    50%{
        opacity: 0.5;
       
        
    }
    100%{
        opacity: 0.7;
        
        
    }
}
.inf2 > img{
    animation: anim2 4s 1 backwards  ;
    animation-timing-function: ease  ;
    animation-delay: 6s;

}
@keyframes anim2 {
    0%{
        transform: translate(-500px) ;
        
    }
}
#inf1  {
    
    position: absolute;
    align-items:stretch ;
    justify-content:center;
    left: 480px;
    top: 60px;

    
    
    
}


header ,footer  {
    background-color: rgb(60, 60, 61);
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

header a{
    
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin:0 10px;
}
.a {
    color: rgb(151, 148, 148);
    font-size: 40px;
    
}
.salto {
    height: 700px;
   
}
.salto2 {
    height: 300px;
}
.texto1{
    
    padding-left: 80px;
    
    

    font-family: 'Inter';
    font-style: normal;
    font-weight: 1000;
    font-size: 30px;
    
    color: #5B5858;

    backdrop-filter: blur(2px);


}

.inf2  {
    background-color: black;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 10px 5%;
}

.inf2 > * {
    display: inline-block;
    width: 350px;
    vertical-align: middle;
    font-size: 30px;
}
nav a:hover{
    color:rgb(0, 67, 94);
}
#inf3 {
    
    background-image: url(imagenes/fondo.png) ;
    background-repeat: no-repeat;
    animation: anim4 3 6s forwards;
    animation-play-state: paused;
    background-size: 1500px 500px;
    margin-left: 200px;
    color: rgb(253, 253, 253);
    text-align: center;
    padding: 150px ;
}

#inf3 > * {
    width: 350px;
    font-size: 30px;
}
#inf3{
    animation-play-state: paused;
}
#inf3:not(:hover){
    animation: anim4 3 6s forwards;
    animation-play-state: paused;
    border: double 20px #e70202;
    animation: anim4 5s 3 forwards;
    border-radius: 20px;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-timing-function:ease-out;
}
@keyframes anim4 {
    0% {
        transform: rotateY(0) translate(0);
    }
    50% {
        transform:  translate(100px,-100px);
    }
    70% {
        transform:  translate(-50px,-100px);
    }
    100% {
        border: double 20px #d3f800;
        transform: translate(0px);
        background-color: rgb(187, 255, 0);
    }
}






#main2{

    background: url('imagenes/fondo1.1.png') no-repeat center center ;
    background-size: cover;
    padding: 20% 30%;
    border-radius: 20px;
    
}
.main21{
    color: rgb(125, 166, 202);
    font-size:30px ;
    margin: -250px -200px;
    background-color: black;
    border-radius: 20px;
    padding: 50px;
    min-height: calc(100vh - 92px - 80px - 100px);
    
    
}

.art1 > * {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
   
}
.hi2{
    display: block;
}
.video1{
   
    display: block;
}
.gif21{
    display: block
}
.R1{
    display: flex;
    flex-direction:column;
    align-items: center;
}
#main3{

    background: url('imagenes/image41.png') no-repeat center center ;
    background-size: cover;
    padding: 20% 30% 30% 30%;
    border-radius: 20px;
    
    
}   

.main22{
    color: rgb(125, 166, 202);
    font-size:30px ;
    margin: -550px -200px;
    background-color: black;
    border-radius: 20px;
    padding: 50px;
    min-height: calc(100vh - 92px - 80px - 100px);
    
    
}

.art2 > * {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
   
}
#main4{

    background: url('imagenes/image\ 5.png') no-repeat center center ;
    background-size: cover;
    padding: 20% 30%;
    border-radius: 20px;
    
}
.main23{
    color: rgb(125, 166, 202);
    font-size:30px ;
    margin: -450px -200px;
    background-color: black;
    border-radius: 20px;
    padding: 50px;
    min-height: calc(100vh - 92px - 80px - 100px);
    
    
}

.art3 > * {
    display: inline-block;
    width: 500px;
    vertical-align: middle;
}
#inf4 {
    background-color: black;
    color: white;
    padding: 10px 14%;
    text-align: center;
}

.inf4-text {
    font-size: 20px;
    font-family: 'Inter';
    color:rgba(26, 109, 148, 0.514);
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding-right: 40px;
}

.inf4-images {
    display: flex;
    justify-content: space-evenly;
}

.inf4-images nav a {
    margin: 0 160px;
    padding-right: 60px;
}
.inf4-images:hover{
    animation: anim3 1.5s infinite backwards;
    animation-direction: alternate;
    
    
}
@keyframes anim3 {
    0%{
        transform: translate(0px) ;
    }
    50%{
        transform: translate(0px,-30px) ;
    }
    100%{
        transform: translate(0px) ;
        
    }
}
